* {
    font-style: 'Nunito Sans', sans-serif;
}

.section-1{
    background-image: url(./imagenes/Background\ black.jpg);
    background-repeat: no-repeat;
    background-attachment:scroll;
    width: 100%;
    height: 150vh;
}

.section-1 h1{
    font-size: 60px;
    color: white;
    position: relative;
    margin-top: 40%;
    left: 30px;
    text-align: right;
}

.section-1 article{
    font-size: 20px;
    color: white;
    position: relative;
    text-align: right;
    margin-top: 30px;
    left: 20px;
}

.section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position:relative;
    bottom: 6vh;
    height: 400px;
}

.section-2 div{
    text-align: center;
    width: 450px;
    height: 280px;
    background-color: #A0B2A6;
    position: relative;
    top: 40px;
}

.section-2 div h2{
   padding: 20px;
   font-size: 25px;
}

.section-3{
    display: inline-block;
    background-color: #9A7D4E;
}
.img{
    position: relative;
    bottom: 8vh;
    left: 980px;
}

.section-3 article{
    position: relative;
    top: 20vh;
}

.section-3 article h2{
    font-size: 25px;
}

.section-3 article p{
    font-size: 15px;
}

.img-fluid{
 height: 300px;
 width: 300px;
}

.footer{
    background-color:#252323;
}
.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__list li{
    list-style-type: none;
}

.footer__list li a{
    text-decoration: none;
    font-size: 14px;
    color: #605b57;
    margin: 0px 5px;
}

.footer__list li span{
    color:#A0B2A6;
    padding-right: 5px;
}

.footer p{
    font-size: 12px;
    color: #605b57;
}

.sobre-nosotros-section-1{
    background-color: #0E1116;
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-nosotros-section-1 p{
    padding: 15px;
    color: white;
    font-size: 14px;
    text-align: justify;
}

.sobre-nosotros-section-2{
    background-color: #A0B2A6;
    width: 100vw;
    height: 200px;
}

.sobre-nosotros-section-2 h4{
    padding: 20px;
}

.sobre-nosotros-section-2 p{
    position: relative;
    top: 60px;
    width: 500px;
    font-size: 14px;
    text-align: justify;
}

.sobre-nosotros-section-3 article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #605B57;
}

.sobre-nosotros-section-3 article p{
    font-size: 14px;
}

.sobre-nosotros-section-3 article h5{
    color: #A0B2A6;
    font-size: 16px;
    padding: 10px;
}
