

.footer{
    grid-area: footer;
    background-color:#252323;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__list li{
    list-style-type: none;
}

.footer__list li a{
    text-decoration: none;
    font-size: 8px;
    color: #dad2bc;
    margin: 0px 5px;
}

.footer__list li span{
    color:#247BA0;
    padding-right: 5px;
}

.footer p{
    font-size: 8px;
    color: #dad2bc;
}

.footer__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 1px solid black;
}

.footer__container p{
    font-size: 8px;
    color: #dad2bc;
    margin: 0px 5px;
    margin-top: 7px;
}

